.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/login.jpeg") no-repeat center center/cover;
}

.auth-box {
  background: rgba(0, 0, 0, 0.471); /* transparent effect */
  border-radius: 12px;
  padding: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #2563eb; /* blue */
}

.auth-box form {
  display: flex;
  flex-direction: column;
}

.auth-box input {
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.auth-box button {
  margin-top: 15px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #1e40af;
}

.auth-box p {
  margin-top: 15px;
  font-size: 14px;
  color: aliceblue;
}

.auth-box a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}


.imge{
  height: 100%;
  width: 100%;
}